{% extends 'home/base.html' %}

{% block title_pagina %}
<title>Inicio</title>
{% endblock title_pagina %}

{% block mi_contenido %}
    {% block mi_header %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            {% block h1_texto_header %}
                            Generate more leads with a professional landing page!
                            {% endblock h1_texto_header %}
                            <!-- Page heading-->                                                                             
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock mi_header %}
    

    {% block index_contenido %}
    {% endblock index_contenido %}


{% endblock mi_contenido %}



