{% extends 'home/index.html' %}

{% block title_pagina %}
<title>Ver Familiares</title>
{% endblock title_pagina %}

{% block h1_texto_header %}
Ver Familiares
{% endblock h1_texto_header %}

{% block index_contenido %}
    <a class="navbar-brand" href={%url 'crear_familiar'%}>Crear Familiar</a>
    <p>Listado de familiares:</p>
    <form action={% url 'ver_familiares' %} method="GET">
        
        {{formulario}}
        
        <button>Buscar</button>
    </form>
    <p> 
        {% if familiares %}
      
        {% for familiar in familiares %}
        <li>{{familiar.nombre}} {{familiar.apellido}} {{familiar.edad}}</li>
        {% endfor %}
        
        {% else %}
        <p>No se encontraron resultados</p>
        {% endif %}
    </p>
{% endblock index_contenido %}