{% extends 'home/base.html' %}

{% block title_pagina %}
<title>Sobre mi</title>
{% endblock title_pagina %}


{% block mi_contenido %}
<p>
   Mi nombre es Ubaldo Bancy, tengo 35 años. Soy Ingeniero Mecánico, graduado en 2011.
   Estoy incursionando en el mundo IT, hice primero el curso de Data Analytics entre Febrero y Mayo de
   este año, después inicié el de Data Science, pero después de 2 meses, e intentar aprender a la par Python,
   me pareció que necesitaba una base más sólida de Python, ya que me costaba mucho entender por qué escribían
   ciertos códigos en las clases y ejemplos.
   Por lo tanto, decidí irme de baja de ese curso y empezar éste. También se me hizo cuesta arriba llevar el ritmo
   de este curso porque estoy en un trabajo nuevo, en una empresa IT, manejando bases de datos. Ha sido todo nuevo
   para mi, desde el nombre de las cosas, la forma de trabajar, etc. Y el dominar los procesos de la empresa me ha
   llevado bastante tiempo y esfuerzo, teniendo que tomar los fines de semana para estudiar temas del trabajo.
   Pero ahí vamos! para adelante!
</p>
{% endblock mi_contenido %}